<html>
    <header>
        <title>test</title>
        <script src="https://unpkg.com/vue@next"></script>
    </header>

    <body>
        <div id="test">
            <ul>
                <li v-for="(item, index) in items">
                  {{ item.message }} || {{ index }}
                </li>
            </ul>
            <ul>
                <li v-for="(value, name, index) in myObject">
                  {{index}} || {{ name }} => {{ value }}
                </li>
            </ul>
        </div>
    </body>

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    items: [{ message: 'Foo' }, { message: 'Bar' }],
                    myObject: {
                        title: 'How to do lists in Vue',
                        author: 'Jane Doe',
                        publishedAt: '2016-04-10'
                    }
                }
            },
        })
        app.mount('#test')
    </script>
</html>